body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
  }
  
  html,body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .content-container {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
  }
  
  .content-footer {
    margin-top: 10px;
    text-align: right;
  }
  
  .w225 {
    width: 225px !important;
  }
  
  .form-container {
    padding: 10px 0;
    // height: 100%;
    background-color: #fff;
  }