<template>
  <div>
  <!-- 头部 -->
  <Header/>
  <!-- 左侧 -->
  <Nav/>
  <!-- 内容 -->
  <Content/>
  </div>
</template>

<script>
import Header from './children/Header.vue'
import Nav from './children/Nav.vue'
import Content from './children/Content.vue'
export default {
  components: {
    Header,
    Nav,
    Content
  }
}
</script>

<style>

</style>