<template>
  <div>
    <el-row>
      <el-col :span="12">
        <el-menu
          default-active="2"
          class="el-menu-vertical-demo"
          background-color="#545c64"
          text-color="#fff"
          active-text-color="#ffd04b"
          :unique-opened="true"
        >

          <!-- <el-submenu index="1">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span>导航一</span>
            </template>
            <el-menu-item index="1-1">选项1</el-menu-item>
          </el-submenu> -->

          <el-submenu :index="index+''" v-for="(menu,index) in menuConfig" :key="index">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span>{{menu.title}}</span>
            </template>
            <el-menu-item index="1-1" v-for="(sub,index) in menu.sub" :key="index">
                {{sub.title}}
            </el-menu-item>
          </el-submenu>
              
        </el-menu>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
    data () {
        return {
            menuConfig:[
                {
                    title:'商品管理',
                    sub:[
                        {title:'商品列表'},
                        {title:'商品分类'},
                        {title:'品牌管理'},
                        {title:'商品属性管理'}
                    ]
                },
                {
                    title:'订单中心',
                    sub:[
                        {title:'订单列表'}
                    ]
                },
                {
                    title:'店铺运营',
                    sub:[
                        {title:'专题管理'},
                        {title:'数据运营'}
                    ]
                }
            ]
        }
    }
};
</script>

<style>
</style>