<template>
  <div id="app">
    <!-- 加载路由 -->
    <router-view></router-view>
     
  </div>
</template>

<script>
 

export default {
  name: 'app',
  components: {
  
  }
}
</script>

<style lang="less">
@import url('./assets/style/base.less');
#app {
  width: 100%;
  height: 100%;
}
</style>
