<template>
  <div class="login-page">
    <section class="login-container">
      <el-form
        :model="ruleForm"
        status-icon
        :rules="rules"
        ref="ruleForm"
        class="demo-ruleForm"
      >
        <el-form-item prop="username">
          <el-input
            type="text"
            v-model="ruleForm.username"
            placeholder="请输入账号"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item prop="pwd">
          <el-input
            type="password"
            placeholder="请输入密码"
            v-model="ruleForm.pwd"
            autocomplete="off"
          ></el-input>
        </el-form-item>

        <el-form-item>
          <el-button
            style="width: 100%"
            type="primary"
            @click="login('ruleForm')"
            >登录</el-button
          >
        </el-form-item>
      </el-form>
    </section>
  </div>
</template>
<script>
import { LoginApi } from "@/request/api";
export default {
  data() {
    return {
      ruleForm: {
        username: "admin",
        pwd: "1",
      },
      rules: {
        username: [{ required: true, trigger: "blur", message: "请输入账号" }],
        pwd: [{ validator: this.validateUsername, trigger: "blur" }],
      },
    };
  },
  methods: {
    validateUsername(rule, value, callback) {
      if (!value || value == "") {
        return callback(new Error("密码不能为空"));
      }
      // if (value.length < 2 || value.length > 20) {
      //   return callback(new Error("密码格式有误"));
      // }
      callback();
    },
    login(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          LoginApi({
            username: this.ruleForm.username,
            password: this.ruleForm.pwd,
          })
            .then((res) => {
              if (res.errno === 0) {
                this.$message({
                  message: "登陆成功,即将跳转页面",
                  type: "success",
                });
                localStorage.setItem("token", res.data.token);
                setTimeout(() => {
                  this.$router.push("/");
                }, 1500);
              }
            })
            .catch((err) => {
              console.log(err);
            });
        }
      });
    },
  },
};
</script>
<style lang="less" scoped>
.login-page {
  width: 100%;
  height: 100%;
  background-color: #324057;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-container {
    width: 330px;
    height: 210px;

    .login-title {
      padding: 10px 0;
      color: #fff;
      font-size: 24px;
      text-align: center;
    }

    .login-submit-btn {
      width: 100%;
    }
  }
}
</style>